/* @media screen and (max-width: 1,000px) {
                .body {
                    font-size: 68px;
                    font-family: 'Roboto', sans-serif;
                }
            } */

            nav {
                color: white;
                font-family: 'Roboto', sans-serif;
                background-color: rgb(54, 104, 65);
                width: 100%;
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                margin-left: 0;
                margin-right: 0;
                font-size: 25px;
                display: block;
                z-index: 2;
            }

            nav a {
                color: white;
                text-decoration: none;
                cursor: pointer;
                outline: none;
                float: left;
                padding: 20px;
            }

            nav a:hover {
                color: rgb(223, 223, 223);
                background-color: rgb(45, 90, 51);
            }

            .body {
                font-size: 15px;
                color: black;
                font-family: 'Roboto', sans-serif;
                margin-top: 60px;
                left: 0;
                right: 0;
                margin-left: 0 !important;
                background-color: blanchedalmond;
                padding: 20px;
                left: 0;
                right: 0;
                position: absolute;
                margin-left: 0;
                margin-right: 0;
                z-index: 1;
            }

            body {
                background-color: rgb(49, 9, 9);
                height: 100%;
            }

            .PhotoGallery {
                background-color: rgb(47, 47, 47);
                padding: 15px;
            }

            .Photo {
                position: relative;
                text-align: left;
            }

            .PhotoGallery img {
                margin: 15px;
            }

            .Caption {
                background-color: rgb(19, 19, 19);
                opacity: 80%;
                color: white;
                position: absolute;
                bottom: 19px;
                right: 12px;
                padding: 16px;
                width: 800px;
                height: fit-content;
            }

            .Caption h2 {
                opacity: 100% !important;
            }

            body h1 {
                color: rgb(65, 33, 23);
            }

            th {
                background-color: rgb(6, 88, 6);
                padding: 10px;
                color: white;
                text-align: left;
                margin: none !important;
            }

            td {
                padding: 10px;
                background-color: rgb(255, 243, 190);
            }

            table img {
                height: 60px;
            }

            thead {
                background-color: rgb(6, 88, 6) !important;
            }

            .body a {
                color: rgb(6, 88, 6);
                text-decoration: none;
            }
            
            .body a:hover {
                text-decoration: underline;
                transition: ease-in-out;
                transition-duration: 800ms;
                color: rgb(49, 126, 72);
            }
